*{
    box-sizing: border-box;
    overflow: hidden;
}

body{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

body div{
    margin-top: 30vh;
}
span{
    font-size: 4em;
    color: grey;
    cursor: pointer;
}